{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'authority-handover-list' %}">{% trans 'Authority Handovers' %}</a></li>
    <li class="breadcrumb-item active"><span>{{ object }}</span></li>
{% endblock %}

{% block title %}{{ object }} {% endblock %}

{% block head_end %}
    <style>
        th, td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <p>पत्र संख्या :</p>
                <p>च. न.</p>
            </div>
            <div class="col-md-6">
                <p class="pull-right">मिति:</p>
            </div>
            <div class="col-md-12">
                <h4 class="text-center">विषय: आ. ब {{ object.fiscal_year }} को बाडफाड र खर्चगर्ने आख्तियारी ।</h4>
            </div>
            <div class="col-md-12">
                <h5>श्री: {{ object.beneficiary_designation }}</h5>
                <h5>{{ object.beneficiary_office }},</h5>
            </div>
            <div class="col-md-12">
                <p>आर्थिक वर्ष {{ object.fiscal_year }} को बजेट बजेट उपाशिर्षक नं. {{ object.budget_head }} (चालु )
                    राष्ट्रिय पुननिर्माण प्राधिकरणकोष तर्फ मन्त्रालयगत वजेट सुचना प्रणालीमा प्रविष्टी भएका आधारमा र यसै
                    साथ संलग्न निर्देसन आनुसार गर्ने गरी आ. ब. {{ object.fiscal_year }} को बार्षिक व्यय अनुमान र सो मा
                    थपघट हुने रकम समेत प्रचलित कानुन अनुसार निकासा लिई खर्च गर्न गराऊन र तेस्तो खर्च को लेखा राख्ने,
                    प्रतिबेदन गर्ने , र लेखा परिक्षण गराउने जिम्मेबारी सहित आर्थिक कार्यविधि नियमावली २०६४ को नियम ३२ को
                    उपनियम २ को बमोजिम तपाइलाई रु. {{ amount }} आक्ष्यरुपी {{ amount }} को वाडफाड र खर्च गर्ने आख्तियारी
                    सुम्पेको छु। वजेट तथा कार्यक्रम कार्यन्वयन गर्दा राष्ट्रिय पुर्नानिर्मन प्राधिकरण तथा यस आयोजनाको
                    वजेट कार्यन्वयन सम्बन्धि सर्त र वजेट खर्च गर्ने निर्देशन बमोजिम गर्नुहुन जानकारी गराएको छु।</p>
            </div>
            <div class="col-md-12">
                <p>वजेट उ. शि. नं : {{ object.budget_head }}</p>
                <p>कार्यक्रम: - राष्ट्रिय पुननिर्माण प्राधिकरण कोष। </p>
                <p>प्राथमिकता संकेत : {{ object.priority_code }}</p>
            </div>
            <div class="col-md-12">
                <h3 class="text-center">वजेट बर्गिकरण </h3>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th rowspan="4">खर्च शिर्षक नं.</th>
                        <th rowspan="4">खर्च शिर्षक</th>
                        <th rowspan="4">स्वीकृत वजेट</th>
                        <th colspan="9">रकम</th>
                        <th rowspan="4">कौफियत</th>
                    </tr>
                    <tr>
                        <th rowspan="3">नेपाल सरकार को श्रोत</th>
                        <th colspan="8">बैदेशिक श्रोत</th>
                    </tr>
                    <tr>
                        <th colspan="4">अनुदान</th>
                        <th colspan="3">ऋण</th>
                        <th rowspan="2">देश वा संस्था</th>
                    </tr>
                    <tr>
                        <th>नगद</th>
                        <th>शोधभर्ना हुने</th>
                        <th>सोझै भुक्तानी</th>
                        <th>बस्तुगत</th>

                        <th>नगद</th>
                        <th>शोधभर्ना हुने</th>
                        <th>बस्तुगत</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for row in object.budget_distributions.all %}
                        <tr>
                            <td>{{ row.expenditure_head_number }}</td>
                            <td>{{ row.expenditure_head_name }}</td>
                            <td>{{ row.permitted_budget }}</td>
                            <td>{{ row.government_fund }}</td>
                            <td>{{ row.foreign_fund_grant_cash }}</td>
                            <td>{{ row.foreign_fund_grant_reimbursable }}</td>
                            <td>{{ row.foreign_fund_grant_direct_payment }}</td>
                            <td>{{ row.foreign_fund_grant_commodity }}</td>
                            <td>{{ row.foreign_fund_loan_cash }}</td>
                            <td>{{ row.foreign_fund_loan_reimbursable }}</td>
                            <td>{{ row.foreign_fund_loan_direct_payment }}</td>
                            <td>{{ row.donor }}</td>
                            <td>{{ row.remarks }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2">जम्मा</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}