{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'authority-handover-list' %}">{% trans 'Authority Handovers' %}</a></li>
    <li class="breadcrumb-item active"><span>{{ object }}</span></li>
{% endblock %}

{% block title %}{{ object }} {% endblock %}

{% block content %}
    <div class="well">
        <div class="row">
            <div class="col-md-6">
                <p>पत्र संख्या :</p>
                <p>च. न.</p>
            </div>
            <div class="col-md-6">
                <p class="pull-right">मिति:</p>
            </div>
            <div class="col-md-12">
                <h4 class="text-center">विषय: आ. ब {{ object.fiscal_year }} को बाडफाड र खर्चगर्ने आख्तियारी ।</h4>
            </div>
            <div class="col-md-12">
                <h5>श्री: {{ object.beneficiary_designation }}</h5>
                <h5>{{ object.beneficiary_office }},</h5>
            </div>
            <div class="col-md-12">
                <p>आर्थिक वर्ष {{ object.fiscal_year }} को बजेट बजेट उपाशिर्षक नं. {{ object.budget_head }} (चालु ) राष्ट्रिय पुननिर्माण प्राधिकरणकोष तर्फ मन्त्रालयगत वजेट सुचना प्रणालीमा प्रविष्टी भएका आधारमा र यसै साथ संलग्न निर्देसन आनुसार गर्ने गरी आ. ब. {{ object.fiscal_year }} को बार्षिक व्यय अनुमान र सो मा थपघट हुने रकम समेत प्रचलित कानुन अनुसार निकासा लिई खर्च गर्न गराऊन र तेस्तो खर्च को लेखा राख्ने, प्रतिबेदन गर्ने , र लेखा परिक्षण गराउने जिम्मेबारी सहित आर्थिक कार्यविधि नियमावली २०६४ को नियम ३२ को उपनियम २ को बमोजिम तपाइलाई रु. {{ amount }} आक्ष्यरुपी {{ amount }} को वाडफाड र खर्च गर्ने आख्तियारी सुम्पेको छु। वजेट तथा कार्यक्रम कार्यन्वयन गर्दा राष्ट्रिय पुर्नानिर्मन प्राधिकरण तथा यस आयोजनाको वजेट कार्यन्वयन सम्बन्धि सर्त र वजेट खर्च गर्ने निर्देशन बमोजिम गर्नुहुन जानकारी गराएको छु।</p>
            </div>
            <div class="col-md-12">
                <p>वजेट उ. शि. नं : {{ object.budget_head }}</p>
                <p>कार्यक्रम: - राष्ट्रिय पुननिर्माण प्राधिकरण कोष। </p>
                <p>प्राथमिकता संकेत : {{ object.priority_code }}</p>
            </div>
        </div>

    </div>
{% endblock %}