{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles filters %}

{% block title %}{{ scenario }} {% trans 'Authority Handover' %}{% endblock %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "authority-handover-list" %}">{% trans 'Authority Handovers' %}</a></li>
    <li><span>{% trans scenario %} {% trans "Authority Handover" %}</span></li>
{% endblock %}

{% block content %}
    <div id="app">

    </div>

{% endblock %}
{% block before_body_end %}
    <script src="{% static 'output.js' %}"></script>
{% endblock %}