{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a class="breadcrumb-item active"
           href="{% url 'authority-handover-list' %}">{% trans 'Authority Handovers' %}</a></li>
{% endblock %}

{% block title %}{% trans 'Authority Handovers' %} {% endblock %}

{% block content %}
    <div class="well">
        <div class="filter-row row">
            <div class="col-md-8 mb-2">
                {% include "_search_filter.html" %}
            </div>
            <div class="col-md-4 mb-4">
                <a class="btn btn-success btn-raised btn-lg" href="{% url 'authority-handover-create' %}"><span
                        class="icon">+</span>Add New Authority Handover</a>
                {#                        <a class="btn btn-secondary" href="#"><i class="icon-export"></i>Export</a>#}
                {#                        <a class="btn btn-secondary" href="#"><i class="icon-import"></i>Import</a>#}
            </div>
        </div>


        {% load pagination_tags %}
        {% load sorting_tags %}

        {% autosort object_list as sorted_objects %}
        {% autopaginate sorted_objects 25 as paginated_objects %}

        <table class="table">
            <thead>
                <tr>
                    <th>
                        {% anchor budget_head _("Budget Head") %}
                    </th>
                    <th>
                        {% anchor fiscal_year _("Fiscal Year") %}
                    </th>
                    <th>
                        {% anchor beneficiary_office _("Beneficiary Office") %}
                    </th>
                    <th>
                        {% anchor date _("Date") %}
                    </th>
                    <th>
                        {% trans "Controls" %}
                    </th>
                </tr>
            </thead>


            {% for object in paginated_objects %}
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'authority-handover-detail' object.pk %}">{{ object.budget_head|default:'-' }}</a>
                        </td>
                        <td>
                            {{ object.fiscal_year|default:'-' }}
                        </td>
                        <td>
                            {{ object.beneficiary_office|default:'-' }}
                        </td>
                        <td>
                            {{ object.date|default:'-' }}
                        </td>
                        <td>
                            <a href="{% url 'authority-handover-detail' object.pk %}"
                               class="btn btn-info btn-sm btn-raised"><i
                                    class="icon-view"></i>Details</a>
                            <a href="{% url 'authority-handover-edit' object.pk %}"
                               class="btn btn-warning btn-sm btn-raised"><i
                                    class="icon-edit"></i>Edit</a>
                            <a href="{% url 'authority-handover-delete' object.pk %}"
                               class="btn btn-danger btn-alert btn-sm btn-raised"><i
                                    class="icon-trash"></i>Delete</a>
                        </td>
                    </tr>
                </tbody>


            {% endfor %}

        </table>

        {% paginate %}
    </div>
{% endblock %}